<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Belocom Material Starter</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../features">
          Features
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">
          Examples
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">
          Change Theme
        </a>
        <br>
        <span [ngClass]="routeAnimationsElements">or check blogs about</span>
        <br>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="#">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Material Theming
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="#">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Angular Cli Tips
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="#">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Ngrx Typescript Tips
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="#">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          App Loading Style
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>ТАМОЖЕННЫЙ БРОКЕР</h2>
        <code>НАШ УСПЕХ - ЭТО УСПЕХ КАЖДОГО НАШЕГО КЛИЕНТА</code>
        <br>
        <code>cd new-project</code>
        <br>
        <code>npm install</code>
        <br>
        <code>npm start</code>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2>Get notified about new releases</h2>
    <p>
      Follow
      <a href="#" target="_blank">Release Butler
      </a>
      a Twitter bot that helps you to stay up to date with releases
    </p>

    <img [src]="releaseButler" alt="Release Butler tweet example">
  </div>
</div>