<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding">
      <img [src]="logo" />
      <span>Belocom Company</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
      <!-- <a mat-list-item
         href="https://github.com/tomastrajan/angular-ngrx-material-starter"
         target="_blank">
        Github
      </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <div class="toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
        <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
      </button>

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
        <img [src]="logo" />
      </span>
      <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
        <img [src]="logo" /> Ura starter</span>
      <span routerLink="" class="branding spacer d-none d-md-inline">
        <img [src]="logo" /> Belocom Company</span>

      <span class="d-none d-md-inline">
        <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </button>
      </span>

      <button mat-button class="sign-in-button " *ngIf="!isAuthenticated" [routerLink]="login" routerLinkActive="active">
        Sign in
      </button>

      <!-- <button mat-button class="sign-in-button " *ngIf="!isAuthenticated" (click)="onLoginClick()">
        Sign in
      </button> -->

      <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
        <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon fontSet="fas" fontIcon="fa-power-off"></mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

      <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
        <mat-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>
      </button>

      <!-- <a matTooltip="Project Github Repository" matdTooltipPosition="before" mat-icon-button class="link d-none d-sm-inline" href="https://github.com/tomastrajan/angular-ngrx-material-starter"
        target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
      </a> -->
    </mat-toolbar>
  </div>

  <div class="wrapper">

    <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <!-- <lib-ngx-notification></lib-ngx-notification> -->

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
            <span>Github</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
            <span>Medium</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
            <span>Twitter</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-youtube"></mat-icon>
            <span>Youtube</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-instagram"></mat-icon>
            <span>Instagram</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-play-circle"></mat-icon>
            <span>Slides</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169;
          <span class="year">{{year}}</span> - Iurii Samoshkin
          <br class="d-block d-sm-none">
          <a matTooltip="Show changelog" matTooltipPosition="before" href="#">
            <mat-icon fontSet="fas" fontIcon="fa-rocket"></mat-icon>
            {{version}}
            <span *ngIf="!isProd">[{{envName}}]</span>
          </a>
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>